:root {
  --clr-main-bg: hsl(255, 22%, 4%);
  --clr-title: hsl(251, 9%, 53%);
  --clr-light-text: hsl(252, 11%, 91%);
  --clr-password: hsl(252, 11%, 25%);
  --clr-wrapper-bg: hsl(247, 11%, 15%);
  --clr-strength-indicator-bg: hsl(248, 15%, 11%);
  --clr-generate-btn-bg: hsl(127, 100%, 82%);
  --clr-generate-btn-text: hsl(247, 11%, 15%);
  --clr-too-weak: hsl(0, 91%, 63%);
  --clr-weak: hsl(13, 95%, 66%);
  --clr-medium: hsl(42, 91%, 68%);
  --clr-strong: hsl(127, 100%, 82%);

  --clr-copy-btn: hsl(252, 11%, 91%);

  --clr-white: hsl(252, 11%, 91%);
  --clr-light-green: hsl(127, 100%, 82%);
  --clr-raisin-black: hsl(248, 15%, 11%);
}
