@use '../util' as u;

h1 {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, -0.14rem + 4.85vw, 1.5rem);
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
