@use '../util' as u;

.password {
  &__wrapper {
    display: grid;
    gap: 24px;
  }

  &__title {
    text-align: center;
    color: var(--clr-title);
    margin-bottom: 7px;
  }

  &__box {
    width: 100%;
    height: 64px;
    padding-inline: 16px;
    background-color: var(--clr-wrapper-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__display {
    font: inherit;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: var(--clr-light-text);
  }

  &__placeholder {
    font: inherit;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: var(--clr-password);
  }

  &__copy-btn-wrapper {
    display: flex;
    gap: 16px;
  }

  &__copied-text {
    font: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-light-green);
  }

  &__copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__copy-icon {
    &:hover path {
      fill: var(--clr-copy-btn);
    }
  }

  &__group-wrapper {
    padding: 16px;
    background-color: var(--clr-wrapper-bg);
  }

  &__length-wrapper {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__length-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: inherit;
    font-size: 1rem;
    font-size: clamp(1rem, 0.72rem + 1.21vw, 1.125rem);
    font-weight: 700;
    line-height: 1;
    color: var(--clr-light-text);
  }

  &__length {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.36rem + 4.85vw, 2rem);
    color: var(--clr-strong);
  }

  &__slider {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 8px;
    background: var(--clr-strength-indicator-bg);
    background-image: linear-gradient(hsl(127, 100%, 82%), hsl(127, 100%, 82%));
    background-size: 50% 100%;
    background-repeat: no-repeat;

    &::-moz-range-thumb {
      -moz-appearance: none;
      height: 16px;
      width: 16px;
      background-color: var(--clr-white);
      border: 2px solid var(--clr-white);
      border-radius: 50%;
      cursor: pointer;

      &:hover,
      &:active {
        border: 2px solid var(--clr-light-green);
        background-color: var(--clr-raisin-black);
      }
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      background-color: var(--clr-white);
      border: 2px solid var(--clr-white);
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        border: 2px solid var(--clr-light-green);
        background-color: var(--clr-raisin-black);
      }
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      box-shadow: none;
      border: none;
      background: transparent;
    }
  }

  &__options {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;

    label {
      font: inherit;
      font-size: 1rem;
      font-size: clamp(1rem, 0.72rem + 1.21vw, 1.125rem);
      font-weight: 700;
      line-height: 1;
      color: var(--clr-light-text);

      display: flex;
      align-items: center;
      gap: 24px;
    }

    input[type='checkbox'] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid var(--clr-white);
      border-radius: 4px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &::before {
        content: '✔';
        font-size: 14px;
        color: var(--clr-main-bg);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }

      &:hover {
        border-color: var(--clr-light-green);
      }

      &:checked {
        background-color: var(--clr-light-green);
        border-color: var(--clr-light-green);

        &::before {
          display: block;
        }
      }
    }
  }

  &__strength-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-inline: 16px;
    margin-bottom: 16px;
    background-color: var(--clr-strength-indicator-bg);
  }

  &__span-strength {
    font: inherit;
    font-size: 1rem;
    font-size: clamp(1rem, 0.72rem + 1.21vw, 1.125rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-title);
  }

  &__bar-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__strength-text {
    font: inherit;
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 0.27rem + 3.64vw, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__strength-bars {
    display: flex;
    gap: 8px;
  }

  &__bar {
    width: 10px;
    height: 28px;
    border: 1px solid var(--clr-light-text);
  }

  &__generate-btn {
    font: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    height: 56px;
    border: 2px solid transparent;
    color: var(--clr-generate-btn-text);
    background-color: var(--clr-generate-btn-bg);

    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: var(--clr-light-green);
      border: 2px solid var(--clr-light-green);

      svg path {
        fill: var(--clr-light-green);
      }
    }
  }
}
